.app {
  width:100%;
  margin: 0 auto;
}

.filter-col {
  // width: 300px;
  // background-color: #404040;
  margin-top: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-width: 100%;
  background-color: #F0F0F0;
  // border-radius: 4px;
  // margin-left: 50px;
  // float:left; /* add this */
  // border: none;
  // min-height: 800px;
  // left: 20%;
  // margin-left: 35%;
  position: fixed;
  padding: none;
}

.product-col {
  // margin-left: 300px;
  // max-width: 1200px;
  // margin-top: 100px;
  background-color: white;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
