.app {
  width:100%;
  margin: 0 auto;
}

.filter-col {
  margin-top: 60px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  min-width: 100%;
  background-color: #F0F0F0;
  position: fixed;
  padding: none;
}

.product-col {
  min-width: 100%;
  min-height: 900px;
  background-color: white;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}
