.dropdown-button {
  font-family: 'Open Sans';
  width: 300px;
  box-sizing: border-box;
  outline-width: 0;
  background-color: #F0F0F0;
  border: none ;
  color: #4c4a37;
  padding: 6px 15px;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition:
    width 1s,
    height 1s,
    background-color 1s,
    -webkit-transform 1s;
  transition:
    width 1s,
    height 1s,
    background-color 1s,
    color .5s,
    transform 1s,
    border 1s;
}

.button {
  font-family: 'Open Sans';
  width: 300px;
  box-sizing: border-box;
  outline-width: 0;
  background-color: white;
  border: none ;
  color: #4c4a37;
  padding: 4px 15px;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition:
    width 1s,
    height 1s,
    background-color 1s,
    -webkit-transform 1s;
  transition:
    width 1s,
    height 1s,
    background-color 1s,
    color .5s,
    transform 1s,
    border 1s;
}

.button-selected {
  font-family: 'Open Sans';
  width: 300px;
  box-sizing: border-box;
  outline-width: 0;
  background-color: #F0FFF0;;
  border: none ;
  color: #4c4a37;
  padding: 4px 15px;
  text-decoration: none;
  font-size: 16px;
  -webkit-transition:
    width 1s,
    height 1s,
    background-color 1s,
    -webkit-transform 1s;
  transition:
    width 1s,
    height 1s,
    background-color 1s,
    color .5s,
    transform 1s,
    border 1s;
}
