.filters {
  position: relative;
  min-width: 80%
}

.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.filter-text {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
}
