.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-text {
  color: #4c4a37;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  // line-height: 30px;
  margin: 1%;
  overflow: hidden;
  text-align: center;
  border: none;
}
